/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*{
    outline: 1px solid black;
}*/

* {
    box-sizing: border-box;
  }
html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

body{
    height: 100vh;
    background-image: linear-gradient(174deg, #FFF0F5 2%, #FFF0F5 70%, #FFFFFF 50%, #FFFFFF 100%, #E8E8E8 100%);
    background-repeat: no-repeat;
    letter-spacing: 0.07em; /* em 是以父元素為基準*/
}
.container{
    margin: 3rem auto 1.5rem auto;
    padding: 0 12px;
    max-width: 510px
}
@media (max-width: 575px){
    .container{
        margin-top: 1.5rem;
    }
    h1{
        font-size: 2rem;
        margin-bottom: 1rem;;
    }
    .Bye{
        margin-top:20px;
    }
}
h1{
    text-align: center;
    font-size: 3rem; /*rem是以根元素為基準*/
    margin-bottom: 1.5rem;
    font-family: "Baloo Tamma 2";
    letter-spacing: 0.5rem;
    font-weight: bold;
}
h2{
    font-family: "Baloo Tamma 2";
    text-align: center;
    font-size: 1.5rem;
}
.swiper {
    margin-top: 30px;
    max-width: 500px;
    height: 300px;
    box-shadow : 3px 3px 5px darkgray;
    border-radius: 10px;
  }
.swiper-button-prev,.swiper-button-next{
    color: #FFF0F5 !important;
}
.menu{
    max-width: 500px;
}
.cities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}
.cities li{
    border: 3px solid ;
    font-size: 25px;
    width: 125px;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
}
.cities li:hover{
    cursor: pointer;
    background: lightgoldenrodyellow;
}
.chance{
    width: 500px;
    text-align: center;
    margin-top: 30px;
    color: tomato;
    font-size: 20px;
}
.myClass{
    color: red;
    font-weight: bold;
    font-size: 30px;
}
.newContnet{
    font-family: "Baloo Tamma 2";
    margin-top: 20px;
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    color:	#0d1e7b	;
}
.congrats{
    color: red;
    font-weight: bold;
}
.Newh2{
    color: red;
    font-weight: bold;
    line-height: 1.5;

}
.Bye{
    max-width: 500px;
    margin-top:20px;
}